.close-button-container-svg {
    z-index: 9999;
    cursor: pointer;
}

.close-button-svg {
}

/*
.search-button-container {
    background: #2A2B2A;
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
}
*/

.search-button-container {
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
    background:#2A2B2A;
}
