/*
.close-button-container {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 999999;
}
*/

.popup-close-button-container {
    position: relative;
    width: 100%;
    height: auto;
}

.popup-close-button { 

}